<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Post</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_post.css') }}">
    </head>
    <body>
        <h1>Edit Blog Post</h1>
        <form method="POST">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" value="{{ post[1] }}" required>
            <label for="article">Article:</label>
            <textarea id="article" name="article" required>{{ post[2] }}</textarea>
            <button type="submit">Save Changes</button>
        </form>
        <a href="{{ url_for('view_category', category_name=post[1])}}">Cancel</a>
    </body>
</html>