<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>

        <h1>Login</h1>

        <!-- Display flash messages consistently at the top of the form -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required><br>
			<button type="submit">Login</button>
		</form>

        
        <p><a href="{{ url_for('register') }}">Create an account</a></p>

    </body>
</html>
