<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create New Post</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    </head>
    <body>
        <h1>Create a New Blog Post</h1>
        <form method="POST">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>
            <label for="article">Article:</label>
            <textarea id="article" name="article" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>